body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #222;
}

header {
    background-color: #123b5d;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #123b5d;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
